<div class="container-fluid">
<div class="row special">
  <div class="col-lg-12 header"></div>
</div>
<div class="main">
  <div class="container-fluid">
    <div class="row special">
      <div class="col-lg-8">
        <img src="{{ vm.image }}">
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-12 title">
            {{ vm.title }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 date">
            {{ vm.date }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            Badges
          </div>
        </div>
      </div>
    </div>
    <div class="row special">
      <div class="col-lg-8">
        <div class="subheader">
          <img class="icon" src="icons/comment.svg"/> {{ vm.commentCount }} {{ vm.comment }}
        </div>
        <div id="{{ comment.id }}" class="comment" ng-repeat="comment in vm.comments">
          <div class="container-fluid">
            <div class="row special">
              <div class="col-lg-1">
                <div class="userIcon">
                  <img src="{{ comment.maker.avatar.icon.url }}">
                </div>
              </div>
              <div class="col-lg-11">
                <div class="comment-text">
                  {{ comment.html }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="add-comment" ng-model="test">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-1">
                user icon
              </div>
              <div class="col-lg-11">
                <div>user name</div>
                <div>
                  <input ng-model="comment" placeholder="comments"></input>
                </div>
                <div>
                  <button ng-click="vm.submit(comment)">submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="col-lg-4">
        <div class="subheader"> 
          <img class="icon" src="icons/favorite.svg"/> {{ vm.favorites }} Favorites
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              favorites
            </div>
            <div class="col-lg-6">
              favorites
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>    
  </div>
</div>
